/* ...
*= require flatpickr
*= require flatpickr/themes/material_blue
*/

@import "bootstrap";

// 全体
.graph-container {
  @extend .container-fluid;
  max-width: 768px;
  padding: 1rem;
}

// フラッシュ
// bootstrapにalert-noticeの色がついていない
div.alert-notice {
  @extend .alert-info;
}

div.alert-alert {
  @extend .alert-danger;
}

// モーダル
button.close {
  overflow : hidden;
  outline : none;
}